.button-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.CodeMirror {
    height: 200px !important;
}

.normalize-item {
    height: 100%; 
    width: 100%; 
    margin: 0px !important;
}

.grid-stack-item-content {
    left: 0 !important;
    right: 0 !important;
}

.canvasjs-chart-container, .canvasjs-chart-canvas {
    height: 100% !important;
    position: none !important;
}