<!DOCTYPE html>
<html>
    <head>
        <title>Photon</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="bower_components/photon/dist/css/photon.min.css">

        <!-- Electron Javascript -->
        <script src="app.js" charset="utf-8"></script>
    </head>

    <body ng-app="controlBenchApp">
        <!-- Wrap your entire app inside .window -->
        <div class="window" ng-controller="mainController">
            <!-- .toolbar-header sits at the top of your app -->
            <header class="toolbar toolbar-header">
                <div class="toolbar-actions">
                    <div class="btn-group pull-right">

                        <button class="btn btn-default" ng-click="openSerial()">
                            On
                        </button>

                        <button class="btn btn-default" ng-click="closeSerial()">
                            Off
                        </button>
                    </div>
                </div>
            </header>

            <div class="window-content"> <!-- WINDOWN-CONTENT -->
                 <div class="pane-group"> <!-- PANEL-GROUP -->
                    <div class="pane-lg sidebar">
                        <h3>Alguma coisa</h3>
                    </div>
                    <div class="pane">
                        <div class="padded-more">
                            <h1 class="text-center">RealTimePlot</h1><br>
                            <br>
                            <div id="arfagemChart" style="height: 300px; width: 100%;"></div><br>
                            <div id="guinadaChart" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                </div> <!-- PANEL-GROUP -->
            </div> <!-- /WINDOWN-CONTENT -->

            <footer class="toolbar toolbar-footer">
                <h1 class="title">Footer</h1>
            </footer>
        </div>
    </body>

    <script> require('./renderer.js') </script>
    <!-- BOWER COMPONENTS -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/socket.io/socket.io.js"></script>
    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <script src="app/resource/canvasjs.min.js"></script>

    <!-- APP FILES -->
    <script src="app/app.js"></script>
    <script src="app/resource/socket.factory.js"></script>
</html>
