<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Visualização</h1><br>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-2">
        <div class="alert alert-info text-center" ng-if="!isSetController()">
            <p><strong>Controle</strong> Não selecionado</p>
        </div>
        <div class="alert alert-info text-center" ng-if="isSetController()">
            <p><strong>Controle</strong> {{ TRANSFORM_NAME(getCurrentController()) }}</p>
        </div>
    </div>
    <div class="col-lg-2 col-lg-offset-8">
        <div class="alert alert-warning text-center" ng-if="!serialPortConnected()">
            <strong>Aviso!</strong> Bancada não conectada
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div gridstack class="grid-stack" options="gridOptions" on-resize-stop="onResizeStop(event,ui)">
            <div class="grid-stack-item" gridstack-item gs-item-x="5" gs-item-y="0" gs-item-width="8" gs-item-height="11">
                <div class="grid-stack-item-content">
                    <visualize update-chart="sinalizeChart" clear-chart="sinalizeClear"></visualize>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="openCamModal()">
                Câmera
            </button>
            <div class="btn-group">
                <button class="btn btn-success" ng-disabled="!serialPortConnected() || getState() || !isSetController()" ng-click="openSerial()">
                    Ligar
                </button>
                <button class="btn btn-danger" ng-disabled="!serialPortConnected() || !getState() || isSetController()" ng-click="closeSerial()">
                    Desligar
                </button>
            </div>&nbsp;
            <button class="btn btn-default" ng-disable="getState()" ng-click="clickClearButton()">
                Limpar
            </button>
        </div>
    </div>
</div>
