<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Visualização</h1><br>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-2 col-lg-offset-10">
        <div class="alert alert-warning text-center" ng-if="!serialPortConnected()">
            <strong>Aviso!</strong> Bancada não conectada
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="http://fpoimg.com/300x200">
    </div>
    <div class="col-lg-9">
        <div id="arfagemChart" style="height: 200px; width: 100%;"></div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="http://fpoimg.com/300x200">
    </div>
    <div class="col-lg-9">
        <div id="guinadaChart" style="height: 200px; width: 100%;"></div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-success" ng-disabled="!serialPortConnected() || getState()" ng-click="openSerial()">
                    Ligar
                </button>
                <button class="btn btn-danger" ng-disabled="!serialPortConnected() || !getState()" ng-click="closeSerial()">
                    Desligar
                </button>
            </div>&nbsp;
            <button class="btn btn-default" ng-disable="getState()" ng-click="clearGraphs()">
                Limpar
            </button>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-lg-offset-4 col-lg-4">
    <img class="img-responsive" src="http://fpoimg.com/400x300">
    </div>
</div>

<button ng-click="openLoadingModal()">Abrir</button>
